@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));


html,
body,
* {
    @apply transition-colors duration-1000 ease-in-out;
    overscroll-behavior-y: none;


}

html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    height: 100%;
}